html{
	height: 100%;
	background-color: #008001;
	background-size: cover;
}

button{
	font-size: 18px;
	margin: 5px;
	border-radius: 5px;
	background-color: #fff;
	border:1px solid #000;

}

.wrapper{
	position:relative;
	margin:2% 10% 0 10%;
	text-align: center;
}
.counting{
	position:absolute;
	right:0;
	top:0;
	text-align:left;
}
.table{
	height:120px;
	text-align: center;
}

.controls{
	display:none;
}

.menu0{
	display:block;
}
.card{
	background-color:#ffffff;
	position:relative;
	display: inline-block;
	width: 60px;
	height: 90px;
	border-radius: 8px;
	margin-top: 10px;
	margin-left: 10px;
	border:solid;
	border-color: #333;
	border-width: 2px;
	text-align:center;
	p{
		font-size:20px;
		position:absolute;
		padding:0;
		margin:0;
		width:28px;
		top:37px;
		left:0;
		text-align:right;
	}
}

.suit{
	position:absolute;
	top:28px;
	left:30px;
	height:35px;
	width:auto;
}